
input[type=number]::-webkit-outer-spin-button,
input[type=number]::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}
/* Убираем стрелки в Firefox */
input[type=number] {
  -moz-appearance: textfield;
}
input{
    border: 2px outset;
    height: 24px;
}
select{
    border: 2px outset;
    height: 30px;
}

#proc{
    width: 20px;
    text-align: center;
}
.calculator{
    height:500px;

    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
}
.settings{
    width: 100%;
    display: flex;
    justify-content: space-around;
}
.result{
    font-size: 32px;
    font-weight: bold;
}